@model ASP_Video_Website.Models.MediaFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBeingConverted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBeingConverted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoQuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoQuality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
