<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>@ViewBag.Title</title>

   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
   @RenderSection("Styles", required: false)


</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="@Url.Action("Index","Media")" class="logo"><b>VidShare</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            
            </div>
            <div class="col-sm-4 col-md-4" style="padding-top: 4px; ">
                @using (Html.BeginForm("Search","Media",null,FormMethod.Get,new{role="search", @class="navbar-form"}))
                {
                    <div class="input-group" style="width: 100%;">
                        <input type="text" style=" border-right: white; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;" class="form-control" placeholder="Search" name="id" id="srch-term">
                        <div class="input-group-btn" style="display: block;">
                            <button class="btn btn-default" style="color: burlywood;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                }
            </div>
            <div class="top-menu">
                
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="mt text-center" style="background: tomato;">
                        @Html.ActionLink("UPLOAD", "Upload", "Media", null, new { style = "color: white; font-weight: bold; font-size: 12px;" })
                    </li>
                    @if (ViewContext.RouteData.Values["controller"] != null && ((string)ViewContext.RouteData.Values["controller"]).ToLower() == "manage")
                    { @Html.Partial("_UserMenu")}
                    else
                    {@Html.Partial("_Menu")}
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <a name="top" ></a>
                @RenderBody()
            </section>
        </section><!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2015 - Michał Rzepka
                <a href="#top" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layoutjs")
    @RenderSection("scripts", required: false)



</body>
</html>
