@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav pull-right top-menu">
            <li>
                <a class="top-menu-item" style="border: none !important;">@User.Identity.GetUserName()</a>
            </li>
            <li>
                @Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Account", @class = "logout"})
            </li>
            <li><a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }
}
else
{
    <ul class="nav pull-right top-menu">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "logout" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "logout" })</li>
    </ul>
}


