
@{
    ViewBag.Title = "Display";
}

<center>
    <h1>@ViewBag.T</h1>
    <br />
    <div id="wrapper">
        <div id="player"></div>
    </div>
    <h5>@ViewBag.Description</h5>
</center>

<div class="comment-container">

</div>	

<script src="~/Scripts/bitdash.min.js"></script>
<script src="~/Scripts/detectmobilebrowser.js"></script>
<script src="http://jwpsrv.com/library/OF57rvwbEeSB7hJtO5t17w.js"></script>

<script type="text/javascript">
    var conf = {
        key: "a688fd4642b4ff1f7fc403315975d07b",
        source: {
            // mpd: "file/sintel.mpd",
            mpd: "@Url.Action("MediaSegment", "File", new {id = @ViewBag.MediaId, filename = "video.mpd"}, Request.Url.Scheme)",
            progressive: "@Url.Action("MediaFile", "File", new {id = @ViewBag.MediaId, filename = "mobile.mp4"}, Request.Url.Scheme)",
            poster: "@Url.Action("MediaFile", "File", new {id = @ViewBag.MediaId, filename = "thumbnail.jpg"}, Request.Url.Scheme)"
        },
        playback: {
            autoplay: true,
            muted: false
        },
        style: {
            width: '640px',
            height: '360px'
        },
        events: {
            onError: function(data) {
                console.error("bitdash error: " + data.code + ": " + data.message);
            },
            onReady: function(obj) {
                console.log(this.getVersion() + ' onReady: ', obj);
            }
        }
    };

    var player;
    if (!isMobileDevice())
        player = bitdash("player").setup(conf);
    else {
        @* var elem = document.getElementById('wrapper');
        elem.innerHTML = "<video width='640' height='360' autoplay>" +
            " <source src='@Url.Action("MediaFile", "File", new {id = @ViewBag.MediaId, filename = "mobile.mp4"}, Request.Url.Scheme)' type='video/mp4'>" +
            "Your browser does not support the video tag." +
            "</video>";
            *@
        jwplayer("player").setup({
            image: "@Url.Action("MediaFile", "File", new {id = @ViewBag.MediaId, filename = "thumbnail.jpg"}, Request.Url.Scheme)",
            sources: [
                {
                file: "@Url.Action("MediaFile", "File", new {id = @ViewBag.MediaId, filename = "mobile.mp4"}, Request.Url.Scheme)"
            }
            @if (@ViewBag.IsHd)
            {
                <text>
                ,{
                file: "@Url.Action("MediaFile", "File", new {id = @ViewBag.MediaId, filename = "mobileHd.mp4"}, Request.Url.Scheme)"
                }
                </text>
            }
            ],
            width: 480,
            height: 240
        });
    }
</script>

@section Styles {
    <link href="~/Content/jquery.comment.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Scripts/jquery.autogrow-textarea.js"></script>
    <script src="~/Scripts/jquery.comment.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>

    //Load comments
    <script>
    $(document).ready(function () {

        $('div.comment-container').comment({
            title: 'Comments',
            url_get: '@Url.Action("GetComments", "Comments", new { httproute = "" })',
            videoId: @ViewBag.MediaId,
            url_input: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Comments", action = "PostComment" })', //'articles/id/1/comments/input',
            url_delete: 'articles/id/1/comments/delete',
            limit: 10,
            auto_refresh: false,
            refresh: 10000,
            transition: 'slideToggle',
        });

    });
    </script>
}

