@model IEnumerable<ASP_Video_Website.Models.MediaFile>

@{
    ViewBag.Title = "Index";
}
<br />
<p>
    @Html.ActionLink("Upload new Media", "Upload", null, new { @class = "btn btn-default" })
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href='@Url.Action("Display", new { id = item.Id })'>
                    <img src="@Url.Action("MediaFile", "File", new {id = item.Id, filename = "thumbnail.jpg"}, Request.Url.Scheme)" alt='' />
                </a>
                <div class="caption">
                    <h3>@Html.ActionLink(item.Title, "Display", new { id = item.Id })</h3>
                    @*<p>...</p>*@
                </div>
</div>
        </div>
    }
</div>
@*
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Display", "Display", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

    </table>
*@